/*.app {
  padding: 30px;
  display: flex;
}

.app > div {
  margin-right: 50px;
}*/
.app {
  display: flex;
  flex-direction: column;
  width: 100vw;
}
.active-filter {
  background-color: lightgreen;
}
.is-done {
  opacity: 0.5;
}
.error {
  border: 1px solid red;
}
.error-message {
  color: red;
}